@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

/* font-family: 'Mulish', sans-serif;

font-family: 'Poppins', sans-serif; */

:root{
    --primary-color:#72A6A5;
    --body-color:#F5F5F5;
    --section-heading-color:#272727;
    --section-size:18px;
    --text-color:#525252;
    --img-bg: #B8D3D2;
    --alert:#F9C3B4;
    --place-holder-icon-color:#979797;
    --place-icon-size:18px;
    --primary-font:'Mulish', sans-serif;
    --alt-font:'Poppins', sans-serif;
    --text-size:12px;
    --margin-ss:1rem;
    --margin-sm:1.5rem;
    --margin-sx:2rem;
    --margin-sl:2.5rem;
    --margin-xl:3rem;
    --padding-ss:1rem;
    --padding-sm:1.5rem;
    --padding-sx:2rem;
    --padding-sl:2.5rem;
    --padding-xl:3rem;
    --btn-padding:8px 32px;
    --btn-padding-two:8px 32px;
}


@media screen and (min-width:996px) {
    :root{
     --text-size:16px;
     --place-icon-size:24px;
     --section-size:24px;
     --btn-padding:12px 32px;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .container_two{
        margin-left: auto;
        margin-right: auto;
    }
  .split{
      width: 80%;
      flex-direction: row;
      border-radius: 30px;
  }
  .img_part{
      border-radius: 30px 0 0 30px; 
      width: 406px;
  }
  small.pass_err{
    margin-top: -1.5rem;
}
  .form_part{
      width: 590px;
      padding:64px 96px;
  }
  .form_field .pass_err{
    margin-top: -22px;
}
  .hero_img{
      border-radius: 0;
      align-self: center;
      max-width: 344.3px;
      height: 373.03px;
  }
 .input_field{
    padding: 12px 45px;
 }

 input.inp{
     width: 24px;
     height: 24px;
 }
 .checkbox{
    align-items: center;
}
.btn{
    font-size:16px;
 }
 input::placeholder{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #979797;
}
}
@media screen and (min-width:1200px) {
    .split{
        width: 80%;
    }
    .terms{
        font-size: 16px;
    }
}


*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: var(--text-size);
    overflow-x: hidden;
}
img{
    max-width: 100%;
}
button,
input{
    border: none;
}
input{
    border: 1px solid #BABABA;
    border-radius: 8px;
}
input:focus, input[type]:focus{   
    border-color: 1.9px solid var(--text-color);
    outline: none;
}

button{
    cursor: pointer;
}


